In [1]:
import pandas as pd

file_path = 'application_test.csv'
data = pd.read_csv(file_path)

# List of columns to drop
columns_to_drop = [
    'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE','FLAG_EMAIL',
    'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
    'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
    'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG',
    'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG',
    'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG',
    'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE',
    'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE',
    'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
    'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI',
    'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI',
    'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI',
    'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE',
    'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE',
    'OBS_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
    'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
    'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13',
    'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
    'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
    'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK'
]

data = data.drop(columns=columns_to_drop)

processed_file_path = '㊀application_test_drop_data.csv'
data.to_csv(processed_file_path, index=False)

# Display the remaining columns and their count
remaining_columns = data.columns
num_remaining_columns = len(remaining_columns)

print("Remaining Columns:")
print(remaining_columns)
print(f"\nNumber of Remaining Columns: {num_remaining_columns}")
print(f"Processed data saved to: {processed_file_path}")

pre_app = pd.read_csv("㊀application_test_drop_data.csv") 
print(pre_app.head())

Remaining Columns:
Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE',
       'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
       'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START',
       'HOUR_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1',
       'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

Number of Remaining Columns: 37
Processed data saved to: ㊀application_test_drop_data.csv
   SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0      100001         Cash loans           F            N               Y
1      100005         Cash loans           M            N               Y
2      100013         Cash loans           M            Y               Y
3      100028         Cash loans           F            N               Y
4      100038         Cash loans           M            Y               N

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0             0          135000.0    568800.0      20560.5         450000.0
1             0           99000.0    222768.0      17370.0         180000.0
2             0          202500.0    663264.0      69777.0         630000.0
3             2          315000.0   1575000.0      49018.5        1575000.0
4             1          180000.0    625500.0      32067.0         625500.0

   ...       ORGANIZATION_TYPE EXT_SOURCE_1 EXT_SOURCE_2 EXT_SOURCE_3  \
0  ...            Kindergarten     0.752614     0.789654     0.159520
1  ...           Self-employed     0.564990     0.291656     0.432962
2  ...       Transport: type 3          NaN     0.699787     0.610991
3  ...  Business Entity Type 3     0.525734     0.509677     0.612704
4  ...  Business Entity Type 3     0.202145     0.425687          NaN

  DEF_30_CNT_SOCIAL_CIRCLE  DEF_60_CNT_SOCIAL_CIRCLE  DAYS_LAST_PHONE_CHANGE  \
0                      0.0                       0.0                 -1740.0
1                      0.0                       0.0                     0.0
2                      0.0                       0.0                  -856.0
3                      0.0                       0.0                 -1805.0
4                      0.0                       0.0                  -821.0

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        1.0
3                        0.0                        0.0
4                        NaN                        NaN

   AMT_REQ_CREDIT_BUREAU_YEAR
0                         0.0
1                         3.0
2                         4.0
3                         3.0
4                         NaN

[5 rows x 37 columns]

In [2]:
pre_app.shape

(48744, 37)

In [3]:
import pandas as pd

file_path = '㊀application_test_drop_data.csv'
pre_app = pd.read_csv(file_path)

# Create a new column '365243DAYS_EMPLOYED' and populate it with 1 if 'DAYS_EMPLOYED' is 365243, else 0
pre_app['365243DAYS_EMPLOYED'] = pre_app['DAYS_EMPLOYED'].apply(lambda x: 1 if x == 365243 else 0)

# Export the DataFrame to a CSV file
output_file_path = '㊁application_test_add_column_365243DAYS_EMPLOYED.csv'
pre_app.to_csv(output_file_path, index=False)

# Display the first few rows of the updated DataFrame
print(pre_app.head())

   SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0      100001         Cash loans           F            N               Y
1      100005         Cash loans           M            N               Y
2      100013         Cash loans           M            Y               Y
3      100028         Cash loans           F            N               Y
4      100038         Cash loans           M            Y               N

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0             0          135000.0    568800.0      20560.5         450000.0
1             0           99000.0    222768.0      17370.0         180000.0
2             0          202500.0    663264.0      69777.0         630000.0
3             2          315000.0   1575000.0      49018.5        1575000.0
4             1          180000.0    625500.0      32067.0         625500.0

   ... EXT_SOURCE_1 EXT_SOURCE_2 EXT_SOURCE_3 DEF_30_CNT_SOCIAL_CIRCLE  \
0  ...     0.752614     0.789654     0.159520                      0.0
1  ...     0.564990     0.291656     0.432962                      0.0
2  ...          NaN     0.699787     0.610991                      0.0
3  ...     0.525734     0.509677     0.612704                      0.0
4  ...     0.202145     0.425687          NaN                      0.0

  DEF_60_CNT_SOCIAL_CIRCLE  DAYS_LAST_PHONE_CHANGE  AMT_REQ_CREDIT_BUREAU_MON  \
0                      0.0                 -1740.0                        0.0
1                      0.0                     0.0                        0.0
2                      0.0                  -856.0                        0.0
3                      0.0                 -1805.0                        0.0
4                      0.0                  -821.0                        NaN

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR  365243DAYS_EMPLOYED
0                        0.0                         0.0                    0
1                        0.0                         3.0                    0
2                        1.0                         4.0                    0
3                        0.0                         3.0                    0
4                        NaN                         NaN                    0

[5 rows x 38 columns]

In [4]:
import pandas as pd
import numpy as np

# Read the CSV file
file_path = '㊁application_test_add_column_365243DAYS_EMPLOYED.csv'
pre_app = pd.read_csv(file_path)

# Replace 365243 with np.nan in the 'DAYS_EMPLOYED' column
pre_app['DAYS_EMPLOYED'] = pre_app['DAYS_EMPLOYED'].replace(365243, np.nan)

# Take the absolute value of the 'DAYS_EMPLOYED' column
pre_app['DAYS_EMPLOYED'] = pre_app['DAYS_EMPLOYED'].abs()

# Export the modified DataFrame to a new CSV file
output_file_path = '㊂application_test_DAYS_EMPLOYED.csv'
pre_app.to_csv(output_file_path, index=False)

# Display the first few rows of the modified DataFrame
print(pre_app.head())

   SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0      100001         Cash loans           F            N               Y
1      100005         Cash loans           M            N               Y
2      100013         Cash loans           M            Y               Y
3      100028         Cash loans           F            N               Y
4      100038         Cash loans           M            Y               N

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0             0          135000.0    568800.0      20560.5         450000.0
1             0           99000.0    222768.0      17370.0         180000.0
2             0          202500.0    663264.0      69777.0         630000.0
3             2          315000.0   1575000.0      49018.5        1575000.0
4             1          180000.0    625500.0      32067.0         625500.0

   ... EXT_SOURCE_1 EXT_SOURCE_2 EXT_SOURCE_3 DEF_30_CNT_SOCIAL_CIRCLE  \
0  ...     0.752614     0.789654     0.159520                      0.0
1  ...     0.564990     0.291656     0.432962                      0.0
2  ...          NaN     0.699787     0.610991                      0.0
3  ...     0.525734     0.509677     0.612704                      0.0
4  ...     0.202145     0.425687          NaN                      0.0

  DEF_60_CNT_SOCIAL_CIRCLE  DAYS_LAST_PHONE_CHANGE  AMT_REQ_CREDIT_BUREAU_MON  \
0                      0.0                 -1740.0                        0.0
1                      0.0                     0.0                        0.0
2                      0.0                  -856.0                        0.0
3                      0.0                 -1805.0                        0.0
4                      0.0                  -821.0                        NaN

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR  365243DAYS_EMPLOYED
0                        0.0                         0.0                    0
1                        0.0                         3.0                    0
2                        1.0                         4.0                    0
3                        0.0                         3.0                    0
4                        NaN                         NaN                    0

[5 rows x 38 columns]

In [5]:
#將column-DAYS_EMPLOYED 365243 用mean補
import pandas as pd

# Read the CSV file
file_path = '㊂application_test_DAYS_EMPLOYED.csv'
pre_app = pd.read_csv(file_path)

# Calculate the average of the 'DAYS_EMPLOYED' column
average_days_employed = pre_app['DAYS_EMPLOYED'].mean()

# Fill missing (NaN) values in the 'DAYS_EMPLOYED' column with the calculated average
pre_app['DAYS_EMPLOYED'].fillna(average_days_employed, inplace=True)

# Display the first few rows of the DataFrame with filled values
pre_app.head()

# Export the modified DataFrame to a new CSV file
output_file_path = '㊃test_pre_app_DAYS_EMPLOYED_filled.csv'
pre_app.to_csv(output_file_path, index=False)

In [7]:
import pandas as pd
import numpy as np

# Read the CSV file
file_path = '㊃test_pre_app_DAYS_EMPLOYED_filled.csv'
pre_app = pd.read_csv(file_path)

# (1) Replace values of 100000000 in 'AMT_INCOME_TOTAL' column with np.nan
pre_app['AMT_INCOME_TOTAL'] = pre_app['AMT_INCOME_TOTAL'].replace(100000000, np.nan)

# (2) Take the absolute value of 'DAYS_BIRTH' column
pre_app['DAYS_BIRTH'] = pre_app['DAYS_BIRTH'].abs()

# (3) Take the absolute value of 'DAYS_REGISTRATION' column
pre_app['DAYS_REGISTRATION'] = pre_app['DAYS_REGISTRATION'].abs()

# (4) Take the absolute value of 'DAYS_ID_PUBLISH' column
pre_app['DAYS_ID_PUBLISH'] = pre_app['DAYS_ID_PUBLISH'].abs()

# (5) Replace missing values in 'OWN_CAR_AGE' column with 0
pre_app['OWN_CAR_AGE'].fillna(0, inplace=True)

# (6) Replace missing values in 'OCCUPATION_TYPE' column with np.nan
pre_app['OCCUPATION_TYPE'].fillna(np.nan, inplace=True)

# (7) Replace values of -1 in 'REGION_RATING_CLIENT_W_CITY' column with 0
pre_app['REGION_RATING_CLIENT_W_CITY'] = pre_app['REGION_RATING_CLIENT_W_CITY'].replace(-1, 0)

# (8) Replace missing values in 'EXT_SOURCE_1', 'EXT_SOURCE_2', and 'EXT_SOURCE_3' columns with 0
pre_app[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']] = pre_app[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].fillna(0)

# (9) Take the absolute value of 'DAYS_LAST_PHONE_CHANGE' column
pre_app['DAYS_LAST_PHONE_CHANGE'] = pre_app['DAYS_LAST_PHONE_CHANGE'].abs()

# (10) Replace missing values in 'AMT_REQ_CREDIT_BUREAU_MON' and 'AMT_REQ_CREDIT_BUREAU_YEAR' columns with 0
pre_app[['AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_YEAR']] = pre_app[['AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_YEAR']].fillna(0)

# (11) Replace values greater than 100 in 'AMT_REQ_CREDIT_BUREAU_QRT' column with np.nan
pre_app['AMT_REQ_CREDIT_BUREAU_QRT'] = pre_app['AMT_REQ_CREDIT_BUREAU_QRT'].apply(lambda x: np.nan if x > 100 else x)

# Export the modified DataFrame to a new CSV file
output_file_path = '㊄application_test_clean.csv'
pre_app.to_csv(output_file_path, index=False)

# Display the first few rows of the cleaned DataFrame
print(pre_app.head())

   SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0      100001         Cash loans           F            N               Y
1      100005         Cash loans           M            N               Y
2      100013         Cash loans           M            Y               Y
3      100028         Cash loans           F            N               Y
4      100038         Cash loans           M            Y               N

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0             0          135000.0    568800.0      20560.5         450000.0
1             0           99000.0    222768.0      17370.0         180000.0
2             0          202500.0    663264.0      69777.0         630000.0
3             2          315000.0   1575000.0      49018.5        1575000.0
4             1          180000.0    625500.0      32067.0         625500.0

   ... EXT_SOURCE_1 EXT_SOURCE_2 EXT_SOURCE_3 DEF_30_CNT_SOCIAL_CIRCLE  \
0  ...     0.752614     0.789654     0.159520                      0.0
1  ...     0.564990     0.291656     0.432962                      0.0
2  ...     0.000000     0.699787     0.610991                      0.0
3  ...     0.525734     0.509677     0.612704                      0.0
4  ...     0.202145     0.425687     0.000000                      0.0

  DEF_60_CNT_SOCIAL_CIRCLE  DAYS_LAST_PHONE_CHANGE  AMT_REQ_CREDIT_BUREAU_MON  \
0                      0.0                  1740.0                        0.0
1                      0.0                     0.0                        0.0
2                      0.0                   856.0                        0.0
3                      0.0                  1805.0                        0.0
4                      0.0                   821.0                        0.0

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR  365243DAYS_EMPLOYED
0                        0.0                         0.0                    0
1                        0.0                         3.0                    0
2                        1.0                         4.0                    0
3                        0.0                         3.0                    0
4                        NaN                         0.0                    0

[5 rows x 38 columns]

In [8]:
import pandas as pd

# Read the CSV file
file_path = '㊄application_test_clean.csv'
pre_app = pd.read_csv(file_path)

# Replace missing values in 'AMT_REQ_CREDIT_BUREAU_QRT' column with 0
pre_app['AMT_REQ_CREDIT_BUREAU_QRT'].fillna(0, inplace=True)

# Display the first few rows of the DataFrame with filled values
print(pre_app.head())

# Export the modified DataFrame to a new CSV file
output_file_path = '㊅application_test_clean.csv'
pre_app.to_csv(output_file_path, index=False)

   SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0      100001         Cash loans           F            N               Y
1      100005         Cash loans           M            N               Y
2      100013         Cash loans           M            Y               Y
3      100028         Cash loans           F            N               Y
4      100038         Cash loans           M            Y               N

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0             0          135000.0    568800.0      20560.5         450000.0
1             0           99000.0    222768.0      17370.0         180000.0
2             0          202500.0    663264.0      69777.0         630000.0
3             2          315000.0   1575000.0      49018.5        1575000.0
4             1          180000.0    625500.0      32067.0         625500.0

   ... EXT_SOURCE_1 EXT_SOURCE_2 EXT_SOURCE_3 DEF_30_CNT_SOCIAL_CIRCLE  \
0  ...     0.752614     0.789654     0.159520                      0.0
1  ...     0.564990     0.291656     0.432962                      0.0
2  ...     0.000000     0.699787     0.610991                      0.0
3  ...     0.525734     0.509677     0.612704                      0.0
4  ...     0.202145     0.425687     0.000000                      0.0

  DEF_60_CNT_SOCIAL_CIRCLE  DAYS_LAST_PHONE_CHANGE  AMT_REQ_CREDIT_BUREAU_MON  \
0                      0.0                  1740.0                        0.0
1                      0.0                     0.0                        0.0
2                      0.0                   856.0                        0.0
3                      0.0                  1805.0                        0.0
4                      0.0                   821.0                        0.0

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR  365243DAYS_EMPLOYED
0                        0.0                         0.0                    0
1                        0.0                         3.0                    0
2                        1.0                         4.0                    0
3                        0.0                         3.0                    0
4                        0.0                         0.0                    0

[5 rows x 38 columns]

In [9]:
pre_app.shape

(48744, 38)

# ★合表(Test+Previous)

In [10]:
import pandas as pd

# Read the CSV files
file_path_app = '㊅application_test_clean.csv'
file_path_prev = '⑪previous_data.csv'

app_data = pd.read_csv(file_path_app)
prev_data = pd.read_csv(file_path_prev)

# Merge the dataframes based on 'SK_ID_CURR'
merged_data = pd.merge(app_data, prev_data, on='SK_ID_CURR', how='inner')

# Display the first few rows of the merged DataFrame
print(merged_data.head())

# Export the merged DataFrame to a new CSV file
output_file_path = '⑴merged(Test&Previous_data.csv'
merged_data.to_csv(output_file_path, index=False)

   SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0      100001         Cash loans           F            N               Y
1      100005         Cash loans           M            N               Y
2      100013         Cash loans           M            Y               Y
3      100028         Cash loans           F            N               Y
4      100038         Cash loans           M            Y               N

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0             0          135000.0    568800.0      20560.5         450000.0
1             0           99000.0    222768.0      17370.0         180000.0
2             0          202500.0    663264.0      69777.0         630000.0
3             2          315000.0   1575000.0      49018.5        1575000.0
4             1          180000.0    625500.0      32067.0         625500.0

   ... AMT_REQ_CREDIT_BUREAU_MON AMT_REQ_CREDIT_BUREAU_QRT  \
0  ...                       0.0                       0.0
1  ...                       0.0                       0.0
2  ...                       0.0                       1.0
3  ...                       0.0                       0.0
4  ...                       0.0                       0.0

  AMT_REQ_CREDIT_BUREAU_YEAR 365243DAYS_EMPLOYED Previous_AMT_ANNUITY  \
0                        0.0                   0           3951.00000
1                        3.0                   0           2406.60000
2                        4.0                   0           8608.64625
3                        3.0                   0           4854.95100
4                        0.0                   0          17782.15500

   Previous_AMT_GOODS_PRICE  Previous_BANK_CONFIDENT_TO_PERSON  \
0                  24835.50                           0.957782
1                  22308.75                           0.449975
2                 130871.25                           0.789272
3                  49207.50                           0.580487
4                 267727.50                           1.131358

   Previous_contract_type_Cash loans  Previous_contract_type_Consumer loans  \
0                                  0                                      1
1                                  1                                      1
2                                  2                                      2
3                                  1                                      3
4                                  1                                      1

   Previous_contract_type_Revolving loans
0                                       0
1                                       0
2                                       0
3                                       1
4                                       0

[5 rows x 44 columns]

In [11]:
merged_data.shape

(47800, 44)